PORT = 6050
REDIS_HOST = localhost
REDIS_PORT = 6379


DB_HOST = 
DB_USERNAME = 
DB_PASSWORD = 
DB_DATABASE = fx_trading
DB_SCHEMA = trading
DB_PORT = 5432

REDIS_URL = 

JWT_SECRET = 


EMAIL_USERNAME = 
EMAIL_PASSWORD =  

EMAIL_HOST = 
EMAIL_PORT = 465